# PostgreSQL
POSTGRES_USER=tetris_admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=tetris_main

# PostgreSQL Replication
POSTGRES_REPLICATION_USER=replicator
POSTGRES_REPLICATION_PASSWORD=change_me

# Redis
REDIS_PASSWORD=change_me

# JWT
JWT_SECRET=change_me
JWT_REFRESH_SECRET=change_me

# PgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change_me